.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-weight: bolder;
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 2px;
    font-size: 5em;
}

nav {
    margin-left: 60%;
   
}
 
nav a{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    text-decoration: none;
    
}

a{
    padding: 5px;
    margin: 0px;
    margin-left: 25px;
}

a:hover{
    background-color: rgb(164, 240, 164);
    color: rgb(1, 15, 1);
    border-radius: 10%;
}
hr{
    height:10px;
    margin: 0px;
}

.corpo{
    display: flex;
    width: 100%;
}
.jn{
    padding-right: 30px;
    padding-top: 30px;
    width: 500px;
    height: 600px;
    
}
.jn:hover{
    
}
.text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding-left: 20px;
    font-size: 2em;
}


p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: justify;
    padding-left: 20px;
}

.rodape{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 0,5em;
    padding-top: 105px;
    padding-bottom: 0px;
    padding-left: 400px;
}